* {
    padding: 0px;
    margin: auto;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.book-library {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    gap: 15px;
	padding: 0px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    background-color: #ffffff;
}

.book {
    background-color: #f2f2f2;
    gap: 10px

}

div > img {
    margin-inline: 80px;
	height: 300px;
	width: 200px

}

.title {
    font-weight: 900;
    margin-left: 10px;
}

.author {
    font-weight: lighter;
    margin-left: 10px;
    color: rgb(0,0,0), rgb(119, 119, 119);
}

.price {
    width: 95%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 2px;
    margin-left: 10px;
    color: white;
	background-color: rgb(46, 204, 113);
}